<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- Update Data Source to your SQL Server instance as needed -->
        <add name="FootballDB"
            connectionString="Data Source=.;Initial Catalog=FootballDB;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>